<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<div class="content container-fluid bootstrap snippets">
    <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
            <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
                <div class="chat-users">
                    <button class="btn btn-success btn-xs" type="button" data-toggle="modal" data-target="#newConversation" data-whatever="@mdo"
                        title="New Conversation">
                        <i class="fas fa-plus"></i>
                    </button>
                    <h6>Conversations</h6>
                    <div class="user" ui-sref="home-abstract.inbox-abstract.chat({username:globals.currentUser.username, friendUsername:friend.username})" ng-repeat="friend in inboxCtrl.conversations">
                        <div class="avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                            <div class="status on"></div>
                        </div>
                        <div class="name">{{friend.username}}</div>
                        <div class="mood">{{friend.firstName}} {{friend.lastName}}</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
            <div ui-view="chatView"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="newConversation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" ng-model="inboxCtrl.recipient" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" ng-model="inboxCtrl.message" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" ng-click="inboxCtrl.newConversation()" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".chat").niceScroll();
    })
    $('#newConversation').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>